.card {
    background-color: #31343a;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.book-title {
    color: #fff;
}

.book-author, .book-genre {
    color: #B0B0B0;
}