#intro-container {
    height: 100vh;
    padding-top: 10rem;
}

.custom-hr {
    position: relative;
    text-align: center;
    margin: 1rem 0;
}

.custom-hr::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 47%;
    height: 1px;
    background: linear-gradient(to right, #121212, #ffffff);
}

.custom-hr::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    height: 1px;
    background: linear-gradient(to left, #121212, #ffffff);
}

.custom-hr i {
    font-size: 24px;
    color: #e0a82d;
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 0 10px;
}

@media (prefers-color-scheme: dark) {
    .custom-hr::after {
        background: linear-gradient(to left, #1f2023, #ffffff) !important;
    }
    
    .custom-hr::before {
        background: linear-gradient(to right, #1f2023, #ffffff) !important;
    }
    
    .custom-hr i {
        background-color: #1f2023 !important;
    }
}